altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1780923947755/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1781616881/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1756599273055/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1779411518554/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1781719850827/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761202954785/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1779900548/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1778065740808/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1762504096130/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1760831328738/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055295243/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1780672242/work
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1770098377/work/dist/numpy-2.4.2-cp312-cp312-macosx_10_13_x86_64.whl#sha256=46cd7dcbc91f8dc91198748aea9eceb18966ae8ee4917d2585f533f866fcc9e6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pandas_1769076448/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1770794115/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1741124609972/work/bazel-bin/python/dist/protobuf-5.29.3-cp312-abi3-macosx_10_13_x86_64.whl#sha256=905a512a3f2301327e3ccf5bc7f2fd33382498bd37cb133b9b02ce1d1674dc9d
pyarrow==20.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1776370993975/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest_1782127176/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-multipart_1780610429/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1770223401206/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1764543158/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1768799585584/work/dist/scipy-1.17.0-cp312-cp312-macosx_10_13_x86_64.whl#sha256=10c1c56d25606d548327bea494bc3b2d47cfa5aead694e96f00d942660f3c48c
setuptools==82.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smmap_1781021238/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1781447071/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1780060568732/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tenacity_1770510172/work
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1765458909695/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_uvicorn_1780574319/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1763021724199/work
websockets @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_websockets_1768087387/work/dist
wheel==0.47.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
zstandard==0.25.0
